@font-face {
    font-family: "Accent";
    src: url(../fonts/MuseoModerno-Variable.ttf);
}
@font-face {
    font-family: "system";
    src: url(../fonts/OpenSans-Variable.ttf);
}

:root {
    --transition: all 300ms linear;
    --transform-hover: scale(1.2);

    --main-color: black;
    --secondary-color: rgb(65, 65, 65);
    --hover-color: rgba(0, 0, 0, 0.20);
    --shadowing-color: rgba(0, 0, 0, 0.40);

    --light-text-color: white;
    --dark-text-color: black;
}

body {
    background-color: darksalmon;
    margin: 0 30px;
}

/*text styles*/
.title {
    font-family: "Accent";
    font-weight: 900;
}

.sub-title {
    font-family: "system";
    font-weight: 600;
}
.text{
    font-family: "system";
    font-weight: 300;
}

.title-UI {
    font-family: "Accent";
    font-weight: 500;
}
.system-UI {
    font-family: "system";
    font-weight: 500;
    font-size: 13px;
}

.system-UI-accent {
    font-family: "system";
    font-weight: 600;
    font-size: 14px;
}

a {
    font-family: "system";
    font-weight: 600;
    color: inherit;
}
.clear-link{
    text-decoration: none;
}
/*buttons*/
.ActionButton {
    transition: var(--transition);
    display: inline-block;
    background-color: var(--main-color);
    color: var(--light-text-color);
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-family: "system";
    margin: 10px;
}
.ActionButton:hover {
    transition: var(--transition);
    transform: var(--transform-hover);
    cursor: pointer;
    font-weight: 700;
}
.SecondaryButton {
    transition: var(--transition);
    display: inline-block;
    background-color: transparent;
    color: var(--secondary-text-color);
    border: none;
    box-shadow: inset 0 0 0 2px var(--main-color);
    padding: 15px;
    border-radius: 20px;
    font-family: "system";
    margin: 10px;
}
.SecondaryButton:hover {
    transition: var(--transition);
    transform: var(--transform-hover);
    cursor: pointer;
    font-weight: 700;
    background-color: var(--hover-color);
}
.ActionButton-light {
    transition: var(--transition);
    display: inline-block;
    background-color: var(--light-text-color);
    color: var(--main-color);
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-family: "system";
    margin: 10px;
}
.ActionButton-light:hover {
    transition: var(--transition);
    transform: var(--transform-hover);
    cursor: pointer;
    font-weight: 700;
}
.ActionButton:hover {
    transition: var(--transition);
    transform: var(--transform-hover);
    cursor: pointer;
    font-weight: 700;
}
.SecondaryButton-light {
    transition: var(--transition);
    display: inline-block;
    background-color: transparent;
    color: var(--light-text-color);
    border: none;
    box-shadow: inset 0 0 0 2px var(--light-text-color);
    padding: 15px;
    border-radius: 20px;
    font-family: "system";
    margin: 10px;
}
.SecondaryButton-light:hover {
    transition: var(--transition);
    transform: var(--transform-hover);
    cursor: pointer;
    font-weight: 700;
    background-color: var(--hover-color);
}

/*nav elemnets*/
nav {
    display: flex;
    align-items: center;
    height: 70px;
    font-family: "Accent";
    font-size: 40px;
    font-weight: 900;
    color: var(--main-color);
}
nav img {
    height: 50px;
    display: block;
    margin: 10px;
    transition: var(--transition);
}
nav img:hover {
    transition: var(--transition);
    transform: var(--transform-hover);
}
nav .space {
    flex-grow: 1;
}

footer {
    display: flex;
    gap: 40px;
    font-size: 15px;
    border-top: solid 3px var(--main-color);
    padding: 20px;
    margin-top: 10px;
}
footer p {
    margin: 0;
}

/*first page*/
#intro {
    margin: 10% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--main-color);
}
#intro h1 {
    font-size: 100px;
    margin: 0;
}
#intro h2 {
    margin-bottom: 20px;
}
#intro p {
    font-size: 20px;
    margin: 0;
}

/*login && register*/
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 20px;
    color: var(--light-text-color);
}

#login .title {
    font-size: 30px;
}
#login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-bottom: 20px;
}
#login .form-input-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#login .form-input-area label {
    margin-left: 10px;
}
#login form input {
    outline-color: var(--hover-color);
    padding: 10px;
    border: solid 2px var(--secondary-color);
    border-radius: 15px;
    background-color: transparent;
    outline: none;
    color: var(--light-text-color);
}

#login form input:focus-visible {
    border: solid 2px var(--light-text-color);
}

/*filters*/
.filters{
    display: flex;
    gap: 20px;
    height: 50px;
    margin: 10px 0;
}
#SearchPaylistForm {
    padding: 10px;
    border-radius: 20px;
    border: solid 2px var(--main-color);
    display: flex;
    align-items: center;
    width: 300px;
}
#SearchPaylistForm>input {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
}
::placeholder{
    color: var(--main-color);
    font-weight: 500;
    font-size: 13px;

}
#SearchPaylistForm>button {
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#SearchPaylistForm:focus-within {
    background-color: var(--main-color);
    transition: var(--transition);
}
#SearchPaylistForm:focus-within>button {
    background-image: url("../images/icons/seach-revert.svg");
}
#SearchPaylistForm:focus-within>input {
    color: var(--light-text-color);
}

.FilterForm {
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.Select {
    padding: 10px;
    border-radius: 20px;
    border: solid 2px var(--main-color);
    width: 200px;
}
.Select:hover{
    background-color: var(--main-color);
}
.Select:hover select{
    color: var(--light-text-color);
    cursor: pointer;
}
#SelectGenre{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 13px;
}
.Sort-Playlists {
    padding: 10px;
    border-radius: 20px;
    border: solid 2px var(--main-color);
    background-color: transparent;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.Sort-Playlists:hover{
    background-color: var(--main-color);
    color: var(--light-text-color);
}
label.Sort-Playlists:has(input:checked) {
    background-color: var(--main-color);
    color: var(--light-text-color);
}
.Sort-Playlists input{
    display: none;
}



/*content*/

#PlaylistsCollection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.playlist-card {
    background-image: linear-gradient(var(--shadowing-color)), url(../images/Bohemian_Rhapsody_poster.png);
    background-size: cover;
    min-width: 200px;
    aspect-ratio: 1;
    padding: 20px;
    border-radius: 60px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 50em var(--shadowing-color);
    text-align: center;
    color: var(--light-text-color);
    font-size: 25px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}
.playlist-actions {
    transition: var(--transition);
    display: flex;
    gap: 20px;
    opacity: 0;
}
.playlist-card:hover .playlist-actions {
    transition: var(--transition);
    opacity: 1;
}
.playlist-actions button.LikePlaylist-Button{
    transition: var(--transition);
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/like.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 70px;
    height: 70px;
}
.playlist-actions button.LikePlaylist-Button:hover {
    cursor: pointer;
    transform: var(--transform-hover);
    transition: var(--transition);
}

.playlist-actions button.Play{
    transition: var(--transition);
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 70px;
    height: 70px;
}
.playlist-actions button.Play:hover {
    cursor: pointer;
    transform: var(--transform-hover);
    transition: var(--transition);
}
.playlist-actions button.StopPlaying {
    background-image: url("../images/icons/pause.svg");
}

.add-playlist-card {
    min-width: 200px;
    aspect-ratio: 1;
    padding: 20px;
    border-radius: 60px;
    box-sizing: border-box;
    text-align: center;
    color: var(--main-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.add-playlist-card button.CreatePlaylist-Button{
    transition: var(--transition);
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
    height: 50%;
}
.add-playlist-card button.CreatePlaylist-Button:hover {
    cursor: pointer;
    transform: var(--transform-hover);
    transition: var(--transition);
}


/*playlist page*/
.playlist-content{
    display: flex;
    gap: 20px;
}
.songs {
    background-color: var(--main-color);
    border-radius: 40px;
    padding: 20px;
    color: var(--light-text-color);
    flex: 1;
}
.songs li{
    margin-top: 10px;
}
.songs li button.Song-Action-Button{
    display: none;
}

.songs li:hover button.Song-Action-Button{
    display: initial;
}
/*adding song*
det verkat för komplicerad göra med popup 
eftersom vi behöver placerasökresultat någonstans
så gjorde jag istället extra section 
som bli synlig på add knäpp click*/
.AddSong{
    flex: 1;
    display: none;
}
.AlertAddSong, .AlertDeleteSong{
    width: 200px;
    display: none;
}

/*personal playlist*/
.EditPlaylist{
    display: none;
}
/*info pop-ups*/
.edit-elements{
    background-color: var(--main-color);
    padding: 20px;
    color: var(--light-text-color);

    border-radius: 40px;

}
.AlertAddPlaylist{
    font-size: 20px;
    width: 300px;
    text-align: center;
    display: none;

}
.AlertAddPlaylist h1{
    font-size: 25px;
    margin: 0;
}
.AlertAddSong{
    text-align: center;

}

